.cards_container {
  display: flex;
  flex: 1;
}
.ebook_card {
  background-image: url("https://werstupid.netlify.app/images/background_poster_ebook.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 16rem;

  height: 18.75rem;
  margin-right: 1rem;
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.ebook_card h2 {
  width: 10rem;
  margin-left: auto;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  line-height: 2rem;
  color: #4f5be8;
  text-transform: capitalize;
}
.ebook_card span {
  color: #000;
}
.carosal_btn {
  padding-left: 3rem;
  padding-right: 3rem;
  bottom: 2rem;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: 9.375rem;
  color: rgba(255, 255, 255);
  background: #4f5be8;
  border-radius: 1rem;
  border: none;
}
.button span {
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 1.5rem;
}
.flexbox_container {
  flex: 2;
  width: 30%;
}
.items {
  width: 100%;
  padding: 15px;
  background-color: #fff;
}

.items-img img {
  width: 100%;
  object-fit: cover;
  height: 9rem;
  max-width: 100%;
}
.post_heading {
  color: #000;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}
.post_heading h1 {
  color: rgba(55, 55, 55);
}
.post_heading h5 {
  color: #000;
  font-size: 15px;
}
.post_heading span {
  color: #ccc;
}

.cardButton span {
  color: #4f5be8;
  font-weight: 700;
}
@media screen and (max-width: 850px) {
  .cards_container {
    display: flex;
  }
  .ebook_card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-position: 50%;
    width: 16rem;
    background-size: cover;
    height: 18.75rem;
    margin-right: 1rem;
    position: relative;
  }
  .flexbox_container {
    width: 100%;
    position: relative;
    display: block;
  }
}
